# Arquivos de build e diretórios de dependências
/public/assets/css/styles.css
/public/assets/scripts/app.js
/public/assets/scripts/repo.js
/node_modules

# Arquivos de ambiente local ou sensíveis
.env

# Arquivos de configuração do editor
.vscode/
.idea/

# Arquivos de log
*.log
