/* style.css */
/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    padding-top: 70px; /* Para ajustar o conteúdo abaixo do cabeçalho fixo */
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #ccc;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin-bottom: 10px;
}

.carousel-item img {
    border-radius: 5px;
}

.colegas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.colega {
    text-align: center;
}

.colega img {
    max-width: 100%;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #343a40;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .header h1 {
        font-size: 20px;
    }

    .header nav ul li a {
        font-size: 16px;
    }
}
